/* mat-sidenav{
   
    width: 200px;
    border-right: none;
    background: #004a9f;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}
.content{
    height: calc(100vh-98px);
   
    display: flexbox;
    color:black;
 justify-content: center;
    align-items: center; 
   
}
mat-divider{
    margin-bottom: 16px;
} 
.image{
    height: 100px;
    width: 100px;
}
.division{
    height: 100%;
} */