mat-toolbar{background-color: lightskyblue}
.up{
margin-top: 30px;
margin-left: 400px;
}
.mystyle{
    text-align: center;
    margin-top: 100px;
}
.style-mat-card{
    margin-top: 10px;
    width:100%;
}